

#myEvents {
  padding-bottom: 40px;
}

#myEvents .overviewItem {
    height: 602px;
    padding: 0 5px;
}

#myEvents .overviewItem h2 {
  padding: 3rem 0;
  font-size: 2rem;
}


#myEvents .overviewItem .container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    height: 602px;
    max-width: 1270px;
    margin-bottom: 30px;
    }

.overviewItem .container article {
    height: 602px;
    opacity: 1;
}

.overviewItem article:hover {
  opacity: 0.6;
  /* -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -moz-transition: all .55s ease;
  -webkit-transition: all .55s ease; */
  transition: all .55s ease;
}


.container article .image {
  position: relative;
  height: 100%;
  display: block;
}

  .container {
     height: 602px;
     max-width: 1270px;
     margin-bottom: 20px;
   }


.overviewItem h2 {
    padding: 3rem 0;
  }
  .overviewItem  article {
    height: 602px;
  }
 flickity-prev-next-button.previous {
 left: 25px;
 }

flickity-prev-next-button.next {
 right: 25px;
}

.overviewItem .image:hover {
    cursor: pointer;
  }

  .text:hover {
    cursor: pointer;
  }

  .text .inner {
    position: absolute;
    left: 50%;
    bottom: 25px;
    width: calc(100% - 50px);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.text .inner header {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
}

article .text .inner * {
  color: #fff;
  text-align: center;

}

.description > * {
  text-decoration: none;
  cursor: default;
}


.flickity-viewport {
  height: 100% !important;
}

.flickity-page-dots .dot {
  background: rgba(82,3,3,1);
}

@media only screen and (max-width: 800px) {
  #myEvents {
    padding-bottom: 60px;
  }
  #myEvents .container article {
    padding-top: 0;
    margin: 0;
    /* width: 340px; */
  }  
  .overviewItem h2 {
    margin: 2rem 0 0 1rem;
  }
  .flickity-page-dots {
    bottom: -33px;
    width: 95%;
  }

  .col0 h2 {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 410px) {
  #myEvents {
    padding-bottom: 60px;
  }
  #myEvents .container {
      height: 450px;
  }
  #myEvents .container article {
        height: 450px;
      }


  .overviewItem h2 {
    margin: 2rem 0 0 1rem;
  }
  .flickity-page-dots {
    bottom: -66px;
    width: 95%;
  }

  #myEvents .inner {
    width: calc(50%);
    position: absolute;
    left: 50%;
    bottom: 160px;
  }

  .col0 h2 {
    padding-top: 60px;
  }

  #myEvents h4 {
    font-size: 1rem;
  }
}

